template
  aside(id="${controlId}"
    class="mdc-dialog"
    ref="diagElement"
    role="alertdialog"
    aria-modal="true"
    aria-labelledby="${controlId}-label"
    aria-describedby="${controlId}-description")

    .mdc-dialog__container
      .mdc-dialog__surface
        // HEADER
        slot(name="header")
          h2.mdc-dialog__title(id="${controlId}-label" if.bind="header") ${header}

        // BODY
        section.mdc-dialog__content(id="${controlId}-description" class.bind="scrollable ? 'mdc-dialog--scrollable' : ''")
          slot

        // FOOTER
        footer.mdc-dialog__actions
          slot(name="footer")
            button.mdc-button.mdc-dialog__button(type="button" ref="cancelButtonElement" data-mdc-dialog-action="cancel") 
              span.mdc-button__label ${cancel}
            button.mdc-button.mdc-dialog__button(type="button" ref="acceptButtonElement" data-mdc-dialog-action="ok" disabled.bind="acceptDisabled")
              span.mdc-button__label ${accept}

      .mdc-dialog__scrim
