template

  // SAMPLE
  mdc-grid
    mdc-grid-cell(span="12")
      h4 Buttons

    // CONFIG AREA
    mdc-grid-cell(span="4")
      mdc-checkbox(checked.bind="aureliaDisabled") disabled
      br
      mdc-checkbox(checked.bind="raised") raised
      br
      mdc-checkbox(checked.bind="dense") dense
      br
      mdc-checkbox(checked.bind="outlined") outlined
      br
      mdc-checkbox(checked.bind="unelevated") unelevated

    // DEMO AREA
    mdc-grid-cell(span="8")
      section.components
        h6 Example
        button(
          mdc-button="raised.bind: raised; dense.bind: dense; outlined.bind: outlined; unelevated.bind: unelevated;"              
          disabled.bind="aureliaDisabled") Button 1
        br
        br


    // LINKS
    mdc-grid-cell(span="12")
      hr      
      a(href="https://material.io/components/web/catalog/buttons/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-button") Material components documentation
      br
      a(href="https://material.io/guidelines/components/buttons.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-button") Material design guidelines
      hr

    // EXAMPLE
    mdc-grid-cell(span="12")
      pre
        code-prism.
          &lt;button
            mdc-button="raised.bind: raised; dense.bind: dense; outlined.bind: outlined; unelevated.bind: unelevated;" 
            disabled.bind="disabled"&gt;
            Button text
          &lt;/button&gt;

    // RIPPLE
    mdc-grid-cell(span="12")
      section
        h5 Ripple
        p.
          By default the ripple effect is added automatically. To avoid that, set ripple to false:
        pre
          code-prism.
            &lt;button mdc-button="ripple: false;" ...&gt;
              ...
            &lt;/button&gt;

    // ICON
    mdc-grid-cell(span="12")
      section
        h5 Icon
        p Add #[span.mark-text mdc-button__icon] class to icon tag:
        button(mdc-button="outlined: true;")
          i.material-icons.mdc-button__icon star
          | Button with icon
        br
        pre
          code-prism.
            &lt;button mdc-button="outlined: true;" ...&gt;
              <i class="material-icons mdc-button__icon">star</i>
              Button with icon              
            &lt;/button&gt;

    // SASS MIXINS
    mdc-grid-cell(span="12")
      section
        h5 Sass Mixins
        pre
          code-prism(language="css").
            button.secondary-text {
              @include mdc-button-ink-color($mdc-theme-secondary);
              @include mdc-states(secondary);
            }

        pre
          code-prism.
            &lt;button mdc-button class="secondary-text"&gt;
              secondary-text-button
            &lt;/button&gt;

        button.secondary-text(mdc-button) secondary-text-button


        pre
          code-prism(language="css").
            button.secondary-filled {
              @include mdc-button-filled-accessible($mdc-theme-secondary);
            }

        pre
          code-prism.
            &lt;button mdc-button class="secondary-filled"&gt;
              secondary-filled-button
            &lt;/button&gt;

        button.secondary-filled(mdc-button) secondary-filled-button          


        pre
          code-prism(language="css").
            button.secondary-outline  {
              @include mdc-button-ink-color($mdc-theme-secondary);
              @include mdc-button-outlined-color($mdc-theme-secondary);
              @include mdc-states(secondary);
            }

        pre
          code-prism.
            &lt;button mdc-button="outlined: true;" class="secondary-outline "&gt;
              secondary-outline-button
            &lt;/button&gt;

        button.secondary-outline(mdc-button="outlined: true;") secondary-outline-button         

        pre
          code-prism(language="css").
            button.big-round-corner-button {
              @include mdc-button-corner-radius(8px);
            }

        pre
          code-prism.
            &lt;button mdc-button="outlined: true;" class="big-round-corner"&gt;
              big-round-corner-button
            &lt;/button&gt;

        button.big-round-shape(mdc-button="outlined: true;") big-round-shape-button           

        pre
          code-prism(language="css").
            button.thick-outline {
              @include mdc-button-outline-width(4px);
            }            

        pre
          code-prism.
            &lt;button mdc-button="outlined: true;" class="thick-outline"&gt;
              thick-outlined-button
            &lt;/button&gt;

        button.thick-outline(mdc-button="outlined: true;") thick-outline-button           


    // WALL OF BUTTONS
    mdc-grid-cell(span="12")
      hr
      mdc-checkbox(checked.bind="disabled") Disable buttons (excluding links and divs)
      hr

      // BUTTONS
      section.components
        h5 Text Button
        fieldset(disabled.bind="disabled")
          button(mdc-button="raised: false; dense: false;") Default

          button(mdc-button="raised: false; dense: true;") Dense

          button.secondary-text(mdc-button="raised: false; dense: false;") Secondary

          button(mdc-button="raised: false; dense: false;")
            i.material-icons.mdc-button__icon favorite
            | Icon

          div(mdc-button="raised: false; dense: false;" role="button") Div

          a(href="#/components/buttons"
            mdc-button="raised: false; dense: false;") Link
          
          hr

        h5 Raised Button
        fieldset(disabled.bind="disabled")
          button(mdc-button="raised: true; dense: false;") Default

          button(mdc-button="raised: true; dense: true;") Dense

          button.secondary-filled(mdc-button="raised: true; dense: false;") Secondary

          button(mdc-button="raised: true; dense: false;")
            i.material-icons.mdc-button__icon favorite
            | Icon

          div(mdc-button="raised: true; dense: false;" role="button") Div

          a(href="#/components/buttons"
            mdc-button="raised: true; dense: false;") Link
          
          hr

        h5 Unelevated Button
        fieldset(disabled.bind="disabled")
          button(mdc-button="unelevated: true; raised: false; dense: false;") Default

          button(mdc-button="unelevated: true; raised: false; dense: true;") Dense

          button.secondary-filled(mdc-button="unelevated: true; raised: false; dense: false;") Secondary

          button(mdc-button="unelevated: true; raised: false; dense: false;")
            i.material-icons.mdc-button__icon favorite
            | Icon

          div(mdc-button="unelevated: true; raised: false; dense: false;" role="button") Div

          a(href="#/components/buttons"
            mdc-button="unelevated: true; raised: false; dense: false;") Link
          
          hr

        h5 Outlined Button
        fieldset(disabled.bind="disabled")
          button(mdc-button="outlined: true; raised: false; dense: false;") Default

          button(mdc-button="outlined: true; raised: false; dense: true;") Dense

          button.secondary-outline(mdc-button="outlined: true; raised: false; dense: false;") Secondary

          button(mdc-button="outlined: true; raised: false; dense: false;")
            i.material-icons.mdc-button__icon favorite
            | Icon

          div(mdc-button="outlined: true; raised: false; dense: false;" role="button") Div

          a(href="#/components/buttons"
            mdc-button="outlined: true; raised: false; dense: false;") Link
          
          hr
